body {
  /* background: radial-gradient(rgb(163, 163, 245), #24243e); */
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.header {
  font-family: 'Oleo Script', cursive;
  font-size: 60px;
  /* background-color: #f7f7f9;
  border: 3px solid #f1f1f1; */
  justify-content: center;
  display: flex;
}
/* .main {

} */
form {
  margin: 5% auto;
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  width: 1000px;
  height: 540px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color:lightblue;
  color: white;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 100%;
}

.deleteButton {
  background-color:lightgrey;
  color: white;
  /* padding: 14px 20px; */
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

.invalid-email {
  color: red;
}

.transparent {
  display: none;
}

.confirmationColor {
  color: blue;
  font-size: 20;
  justify-content: center;
  display: flex;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

.confirmationPic {
  margin: 5% auto;
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  width: 400px;
  height: 300px;
  justify-content: center;
  display: flex;
}
#gallery {
  margin: 5% auto;
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  width: 500px;
  height: 380px;
  justify-content: center;
  display: flex;
}


