body {
  /* background: radial-gradient(rgb(163, 163, 245), #24243e); */
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.header {
  font-family: 'Oleo Script', cursive;
  font-size: 60px;
  text-shadow: 2px 2px blueviolet;
  /* background-color: #f7f7f9;
  border: 3px solid #f1f1f1; */
  justify-content: center;
  display: flex;
}
/* .main {

} */
form {
  margin: 1% auto;
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  width: 1000px;
  height: 705px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 3px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color:lightblue;
  color: white;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 100%;
}

.confirmationColorMessage {
  margin: auto;
  color: blueviolet;
  font-size: 24px;
  background-color: #f7f7f9;
  border: 5px solid #f1f1f1;
  width: 508px;
  height: 60px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.buttonChooseKitty {
  margin: 1% auto;
  background-color:lightblue;
  color: white;
  /* padding: 14px 20px; */
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 500px;
  height: 100px;
  justify-content: center;
  display: flex;
}

.deleteButton {
  background-color:lightgrey;
  color: white;
  /* padding: 14px 20px; */
  /* margin: 70px 0, 0, 0; */
  margin-top: 80px;
  margin-bottom: 8px;
  margin-right: 0px;
  margin-left: 0px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

.invalid-email {
  color: red;
}

.transparent {
  display: none;
}

.confirmationColor {
  color: black;
  text-align: center;
  font-size: 20;
  justify-content: center;
  display: flex;
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  width: 1000px;
  height: 200px;
}
.deleteConfirmationColor {
  color: blue;
  font-size: 20;
  justify-content: center;
  display: flex;
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  width: 1000px;
  height: 40px;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 5px;
}

.confirmationPic {
  margin: 1% auto;
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  justify-content: center;
  display: flex;
}
#gallery {
  margin: 1% auto;
  background-color: #f7f7f9;
  border: 10px solid blueviolet;
  width: 500px;
  height: 450px;
  justify-content: center;
  display: flex;
}


